.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-list{
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: left;
  gap: 2rem;
}
table{
  width:70%;
  border-collapse: collapse;
  
}
#title-td{
  width: 60%;
  border: 1px solid black;
  border: 1px solid black;
}
#genre-td, #year-td{
  width: 20%;
}
.filter-div{
  width: 70%;
  margin: auto;
  background-color: rgb(212, 208, 208);
  text-align: center;
  padding: 10px 0px;
}
.btns{
  gap: 1rem;
  display: flex;
  justify-content: space-around;
}
.filter-div button{
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(212, 208, 208);
  cursor: pointer;
}
table td, th{
  padding: 5px;
  border: 1px solid black;
}
th{
  background-color: rgb(212, 208, 208);
}